[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pip = "*"
lxml = "*"
beautifulsoup4 = "*"
pandas = "*"
pytest = "*"
matplotlib = "*"
virtualenv = "*"
django-debug-toolbar = "*"
djoser = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.13"
